<div class="row animated fadeIn fast">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input type="text"
                       class="form-control"
                       [formControl]="param"
                       (keyup)="search()"
                       placeholder="Buscar usuario...">
            </div>
        </div>
    </div>
</div>

<div *ngIf="loading"  class="row animated fadeIn fast">
    <div class="col-12">
        <div class="alert alert-info text-center">
            <h4 class="alert-heading">Cargando</h4>
            <i class="fa fa-spin fa-refresh fa-2x"></i>
            <p class="mb-0">Por favor espere</p>
        </div>
    </div>
</div>

<div *ngIf="!loading" class="row animated fadeIn fast">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Total de usuarios {{totalUsers}} - {{desde}}</h4>
                <h6 class="card-subtitle">Usuarios registrados en mi aplicación</h6>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="w100" >Avatar</th>
                                <th>Correo</th>
                                <th>Nombre</th>
                                <th class="w140" >Role</th>
                                <th class="w100" >Auth</th>
                                <th class="text-nowrap w100">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of users" >
                                <td class="text-center  cursor " (click)="openModal(user)" ><img class="avatar" [src]="user.imageUrl" alt=""></td>
                                <td>{{user.email}}</td>
                                <td>{{user.name}}</td>
                                <td>
                                    <select class="form-control"
                                        [formControl]="role"
                                        (change)="changeRole(user)"
                                    >
                                        <option [selected]="user.role ===  'ADMIN_ROLE'" value="ADMIN_ROLE">Admin</option>
                                        <option [selected]="user.role === 'USER_ROLE' " value="USER_ROLE">USER</option>
                                    </select>
                                </td>
                                <td>
                                    <label *ngIf="user.google" class="label label-danger">Google</label>
                                    <label *ngIf="!user.google" class="label label-info">Email</label>
                                </td>
                                <td class="text-nowrap text-center">
                                    <a data-toggle="tooltip" data-original-title="Borrar" (click)="deleteUser(user)" > <i class="fa fa-close text-danger cursor"></i> </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div *ngIf="this.param.value.length === 0" >
                        <button class="btn btn-secondary" (click)="paginate(-5)" >Anteriores</button>
                        &nbsp;
                        <button class="btn btn-secondary" (click)="paginate(+5)" >Siguientes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>